<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>City list</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body class="bg-light">
<div class="container">
    <div class="py-5 text-center">
        <h2>Cities</h2>
        <a style="position:absolute;right:0;margin-right:5px" th:href="@{/logout}" class="btn btn-primary">Log out</a>
        <div th:if="${updateSuccessCity}" class="toast bg-success rounded" role="alert" aria-live="assertive" aria-atomic="true" style="width: 60%; margin: auto; padding-left: 10px; padding-right: 10px; color: white">
            <div th:text="'Update successful for city: ' + ${updateSuccessCity}" class="toast-body py-2"></div>
        </div>
    </div>

    <div>
        <form th:action="@{/}" method="get">
            <input type="text" th:name="search" th:value="${searchTerm}"/>
            <input type="submit" value="Search"/>
        </form>
    </div>

    <div class="row">
        <table th:if="${cityPage.content.size()>0}" class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Image</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="i : ${#numbers.sequence(0, cityPage.content.size()-1)}">
                <th scope="row" th:text="${cityPage.size*cityPage.number+i+1}"></th>
                <td th:text="${cityPage.content.get(i).getName()}"></td>
                <td><img th:src="@{${cityPage.content.get(i).getImageLink()}}" alt="This image cannot be displayed"/></td>
                <td><a sec:authorize="hasRole('ROLE_EDITOR')" th:href="@{/edit/{id}(id=${cityPage.content.get(i).getId()})}" style="float: right" class="btn btn-primary">Edit city</a></td>
            </tr>
            </tbody>
        </table>
        <table th:unless="${cityPage.content.size()>0}" class="table">
            <thead>
            <tr>
                <td class="text-center">No cities to display</td>
            </tr>
            </thead>
        </table>
    </div>

    <div class="row" style="justify-content:center">
        <ul th:if="${cityPage.totalPages > 0}" class="pagination">
            <li th:class="${(pageNumber.isEnabled() && pageNumber.getPageNumber().get()==cityPage.number ? 'active' : '') + (!pageNumber.isEnabled() ? ' disabled' : '') + ' page-item'}" th:each="pageNumber : ${pageNumbers}">
                <a th:if="${pageNumber.isEnabled()}"
                   th:href="@{/(size=${cityPage.size}, page=${pageNumber.getPageNumber().get()}, search=${searchTerm})}"
                   th:text=${pageNumber.getPageNumber().get()+1}
                   th:class="page-link"
                ></a>
                <a th:unless="${pageNumber.isEnabled()}"
                   th:text="..."
                   th:class="page-link"
                ></a>
            </li>

        </ul>
    </div>
</div>

<footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2023 Del Remi Liik</p>
</footer>
</body>
</html>
